<div class="containerHeader">
    <h1>Technology</h1>
    <ul>
        <li class="item" [routerLink]="['/']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Home</li>
        <li class="item" [routerLink]="['/history']" routerLinkActive="selected" >History</li>
        <li class="item" [routerLink]="['/impact']" routerLinkActive="selected" >Impact</li>
        <li class="item" [routerLink]="['/opportunities']" routerLinkActive="selected" >Oportunidades</li>
        <li class="item" [routerLink]="['/englishRelation']" routerLinkActive="selected" >English</li>
    </ul>
</div>
