<section>
    <div class="op">
        <img src="./../../../assets/icons/paper_diploma.svg" alt="">
        <p>New Careers Emerging Technology is opening doors to new careers that didn’t exist a few years ago. From data science to AI development, there are endless possibilities for those willing to learn.</p>
    </div>
    <div class="op">
        <img src="./../../../assets/icons/code_bugs_software.svg" alt="">
        <p>Skills in Demand Coding, problem-solving, and understanding new technologies are skills in high demand. Whether it’s web development, cybersecurity, or app design, learning these skills creates exciting job opportunities.</p>
    </div>
    <div class="op">
        <img src="./../../../assets/icons/innovation_education_skills_03.svg" alt="">
        <p>Innovation Everywhere Technology allows everyone to become innovators. With the right tools, anyone can create apps, start businesses, or contribute to major advancements in society.</p>
    </div>
</section>