app-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
main{
    margin-top: 110px;
    padding: 0 50px;
}
@media screen and (max-width: 500px){
    main{
        padding: 10px;
    }
}