<section id="homeContainer">
    <div class="main">
        <img src="./../../../assets/icons/man_virtual.svg" alt="">
        <div id="contTxtMain">
            <h1>Importance of technology</h1>
            <p>Welcome to the future of technology and programming! Our world is constantly evolving thanks to the power of innovation. Whether you're aware of it or not, technology touches every aspect of our lives—from how we communicate, learn, and work, to how we entertain ourselves. Join us as we explore how programming and technological advancements are shaping the world.</p>
        </div>
        <img src="./../../../assets/icons/space_rocket-3.svg" alt="">
    </div>
    
    <div class="welcome">
        <h1>Did you know?</h1>
        <p>Over 70% of today’s jobs require some level of technological skills, and that number is only growing. Learning how to code opens doors to endless opportunities.</p>
        <button [routerLink]="['/history']" routerLinkActive="selected" >Learn more</button>
    </div>
    <div>
        
    </div>
</section>
