<section>
    <div class="title">
        <img src="./././../../../assets/icons/flag_eeu_color_7g5NIGk.svg" alt="">
        <h1>The Importance of English in Technology</h1>
    </div>
    <div class="content">
        <img src="./././../../../assets/icons/nature_world_hand.svg" alt="">
        Global Language of Tech English is the universal language of technology. From coding languages to online documentation, most resources and tools are developed and shared in English. This means that mastering English is key to fully understanding and engaging with the tech world.
    </div>
    <div class="content">
        Access to Resources Many of the latest research papers, tutorials, and tech courses are published in English. Professionals who speak English have access to a broader range of materials and can stay ahead in a rapidly evolving field.
        <img src="./././../../../assets/icons/look_spyglass_5.svg" alt="">
    </div>
    <div class="content">
        <img src="./././../../../assets/icons/economy_social_money_size.svg" alt="">
        Collaboration Worldwide Technology connects the world, and English is the bridge that allows developers, engineers, and innovators from different countries to work together. Whether you're contributing to open-source projects or working in global teams, English is essential for effective communication.
    </div>
    <div class="content">
        Job Opportunities Many of the leading tech companies operate in English-speaking countries or use English as their primary business language. Having strong English skills increases job opportunities and opens doors to work at top tech firms, where communication and collaboration in English are essential.
        <img src="./././../../../assets/icons/project_2.svg" alt="">
    </div>
</section>