<section>
    <div id="firstP">
        <h1>The Transformative Impact of Technology on Society</h1>
        <h2>Exploring how technology has shaped our world</h2>
    </div>
    <div>
        <div id="secondS">
            <h1>Revolution in Communication</h1>
            <p>Technology has revolutionized communication, allowing us to connect instantly with anyone in the world. From text messages to video calls, distances are no longer a barrier, transforming both personal and professional relationships.</p>
        </div>
        <div id="thirdS">
            <h1>Education Within Reach of Everyone</h1>
            <p>Technology has made education more accessible through online platforms. Now, people from all over the world can learn new skills from home, breaking down economic and geographic barriers.</p>
        </div>
        <div id="fourthS">
            <h1>Innovations in Health</h1>
            <p>Smart devices and telemedicine have improved healthcare, allowing real-time health monitoring and remote care. These innovations make treatments more efficient and accessible.</p>
        </div>
        <div id="fifthS">
            <h1>Transformation of the Workplace</h1>
            <p>Automation and artificial intelligence are changing the way we work. While they increase efficiency in many industries, they also require workers to acquire new skills to adapt to this changing environment.</p>
        </div>
    </div>
</section>
